<div class="row">
  <% @bookings.each do |booking| %>
    <div class="col-md-4 mb-4">
      <div class="border border-dark my-2 p-2 d-flex justify-content-between flex-column">
      <div class="d-flex justify-content-between">
        <div>
          <h1><strong><%= booking.car.brand %></strong></h1>
          <h3><%= booking.car.model %></h3>
        </div>
        <p class="fs-3"><strong><%= booking.car.price_per_day %>$</strong>/day</p>
      </div>
        <%= cl_image_tag booking.car.photo.key, height: 300, width: 400, crop: :fill, class: "img-fluid" %>
      </div>
    </div>
  <% end %>
</div>